---
services:
  traefik:
    image: docker.io/library/traefik:v3.0
    restart: always
    depends_on: [foo, bar]
    ports: ["80:80"]
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./dynamic.yml:/etc/traefik/dynamic/dynamic.yml:ro

  foo:
    image: docker.io/traefik/whoami:v1.10
    restart: always
    hostname: foo

  bar:
    image: docker.io/traefik/whoami:v1.10
    restart: always
    hostname: bar
