---
version: "3"

services:
  portainer:
    image: docker.io/portainer/portainer-ce:2.14.2
    restart: always
    command:
      - --admin-password=$$2y$$05$$Gdu0dsEZFmy34/gkHNDIfeAQQFPu7.5LrhtQpwuPK5hRjjA.nGLq.
      - --logo=https://image.ibb.co/n44xxA/docker-logo.png
      - --host=unix:///var/run/docker.sock
    ports:
      - 9443:9443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - data-portainer:/data

  debian01:
    image: docker.io/library/debian:12
    restart: always
    hostname: debian01
    stdin_open: true
    tty: true
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      LC_ALL: C.UTF-8

volumes:
  data-portainer: {}
