---
services:
  sftpgo:
    # We use the "-alpine" image variant because the standard one is based on
    # Debian and is much bigger
    image: docker.io/drakkan/sftpgo:v2.7-alpine
    restart: always
    ports: ["2022:2022"]
    volumes:
      - ./home:/var/lib/sftpgo # Home dir for the sftpgo system user defined inside the container
      - ./serve:/serve # Files to be served
    command: >
      sftpgo portable --log-file-path=/dev/stdout --log-level=info
      --sftpd-port=2022 --username=user --directory=/serve
      --permissions=list,download,upload,overwrite,delete,rename,create_dirs,chmod,chtimes,copy
      --public-key='ssh-ed25519 AAAAC3Nza...'
