---
# Enable the Traefik API (api@internal service)
api: {}

# Enable access logging to stdout
accessLog: {}

providers:
  # Use the dynamic.yml file as dynamic configuration provider
  file:
    directory: /etc/traefik/dynamic
  # Use Docker (container labels) as dynamic configuration provider
  docker:
    exposedByDefault: false
    # Domain auto-assignment
    defaultRule: Host(`{{ normalize .Name }}.docker.example.com`)

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        # Global HTTP to HTTPS redirection
        entrypoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt

certificatesResolvers:
  letsencrypt:
    acme:
      email: fakeemailaddress@fakedomain.com
      storage: /etc/traefik/acme.json
      tlsChallenge: {}
