---
version: "3"

services:
  zerotier:
    image: docker.io/zerotier/zerotier:1.10.1
    restart: always
    cap_add: [ NET_ADMIN ]
    devices: [ /dev/net/tun ]
    ports:
      # Optional port forwardings (but recommended for highly trafficked
      # services)
      - 9993:9993/tcp
      - 9993:9993/udp
    environment:
      ZEROTIER_IDENTITY_SECRET: <put-identity-secret-here>
    command: <put-network-id-here> # ZeroTier network ID

  webserver:
    image: docker.io/traefik/whoami:v1.8.1
    restart: always
    depends_on: [ zerotier ]
    network_mode: service:zerotier
