---
version: "3"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.3.0
    restart: always
    environment:
      ES_JAVA_OPTS: -Xms512m -Xmx512m
      discovery.type: single-node
      xpack.security.enabled: "false" # Not recommended for production
    volumes:
      - data-elasticsearch:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.3.0
    restart: always
    depends_on: [ elasticsearch ]
    ports: [ 5601:5601 ]
    environment:
      ELASTICSEARCH_HOSTS: http://elasticsearch:9200/
      # The following is needed to enable the alerting feature
      XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY: changemechangemechangemechangeme
      # The following line should be set in production
      # SERVER_PUBLICBASEURL: http://localhost:5601/

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.3.0
    restart: always
    user: root # Needed to access the Docker socket and logs
    depends_on: [ elasticsearch ]
    volumes:
      - ./filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command: filebeat -e -strict.perms=false

  metricbeat:
    image: docker.elastic.co/beats/metricbeat:8.3.0
    restart: always
    user: root # Needed to access the Docker socket and logs
    depends_on: [ elasticsearch ]
    volumes:
      - ./metricbeat.yml:/usr/share/metricbeat/metricbeat.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/hostfs:ro # Needed to get host metrics
    command: metricbeat -e -strict.perms=false

  webserver01:
    image: nginx
    restart: always
    ports: [ 8081:80 ]
    volumes:
      - ./nginx-default.conf:/etc/nginx/conf.d/default.conf:ro
    labels:
      co.elastic.logs/enabled: "true"
      co.elastic.logs/module: nginx
      co.elastic.logs/fileset.stdout: access
      co.elastic.logs/fileset.stderr: error

      co.elastic.metrics/enabled: "true"
      co.elastic.metrics/module: nginx
      co.elastic.metrics/period: 10s
      co.elastic.metrics/metricsets: stubstatus
      co.elastic.metrics/hosts: $${data.host}:$${data.port}

  webserver02:
    image: nginx
    restart: always
    ports: [ 8082:80 ]
    labels:
      co.elastic.logs/enabled: "true"
      co.elastic.logs/module: nginx
      co.elastic.logs/fileset.stdout: access
      co.elastic.logs/fileset.stderr: error

volumes:
  data-elasticsearch: {}
